<div style=" background-color: rgb(43, 197, 37);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 6 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Analyse des données de vente en ligne pour Lapage
</h2>
</div>

<div style="background-color: rgb(43, 197, 37);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement du fichier final</h2>
</div>

In [59]:
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import biblio_modules
import pyarrow

In [46]:
d_parser = lambda x: pd.da
df_all = pd.read_csv('../Source/Data_processed/lapage_all.csv', sep=';', parse_dates=['Timestamp'], date_parser=d_parser)

In [47]:
df_all.head()

,id_prod,Timestamp,session_id,client_id,sex,birth,price,categ
0,0_1259,2021-03-01 00:01:07.843138,s_1,c_329,f,1967,11.99,0
1,0_1390,2021-03-01 00:02:26.047414,s_2,c_664,m,1960,19.37,0
2,0_1352,2021-03-01 00:02:38.311413,s_3,c_580,m,1988,4.50,0
3,0_1458,2021-03-01 00:04:54.559692,s_4,c_7912,f,1989,6.55,0
4,0_1358,2021-03-01 00:05:18.801198,s_5,c_2033,f,1956,16.49,0

In [48]:
df_all['Timestamp'] = pd.to_datetime(df_all['Timestamp'], format='%Y-%m-%d %H:%M:%S.%f')

In [50]:
df_all['Timestamp']

0        2021-03-01 00:01:07.843138
1        2021-03-01 00:02:26.047414
2        2021-03-01 00:02:38.311413
3        2021-03-01 00:04:54.559692
4        2021-03-01 00:05:18.801198
                    ...
687529   2023-02-28 23:49:03.148402
687530   2023-02-28 23:51:29.318531
687531   2023-02-28 23:53:18.929676
687532   2023-02-28 23:58:00.107815
687533   2023-02-28 23:58:30.792755
Name: Timestamp, Length: 687534, dtype: datetime64[ns]

In [ ]:
d_parser = lambda x: pd.datetime.strptime(x,'응모-응m-응d 응I-응p')
df = pd.read_csv ( 'ETH_1h.csv', parse_dates=[ 'Date'],

In [29]:
#Les timestamps sont utilisé comme indexDatetime
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687534 entries, 0 to 687533
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     687534 non-null  object
 1   Timestamp   687534 non-null  object
 2   session_id  687534 non-null  object
 3   client_id   687534 non-null  object
 4   sex         687534 non-null  object
 5   birth       687534 non-null  int64
 6   price       687534 non-null  float64
 7   categ       687534 non-null  int64
dtypes: float64(1), int64(2), object(5)
memory usage: 42.0+ MB

In [30]:
df_all.head()

,id_prod,Timestamp,session_id,client_id,sex,birth,price,categ
0,0_1259,2021-03-01 00:01:07.843138,s_1,c_329,f,1967,11.99,0
1,0_1390,2021-03-01 00:02:26.047414,s_2,c_664,m,1960,19.37,0
2,0_1352,2021-03-01 00:02:38.311413,s_3,c_580,m,1988,4.50,0
3,0_1458,2021-03-01 00:04:54.559692,s_4,c_7912,f,1989,6.55,0
4,0_1358,2021-03-01 00:05:18.801198,s_5,c_2033,f,1956,16.49,0

In [ ]:
df_all.set_index('Timestamp')

In [31]:
df_all.index.dtype

dtype('int64')

<div style="background-color: rgb(43, 197, 37);" >
<h2 style="margin: auto; padding: 20px; color:#fff; "> Partie 1 - Analyse des indicateurs de vente </h2>
</div>

In [32]:
#Evolution mensuel du chiffre d'affaire de la librairie lapage
df_all.resample('ME', )['price'].sum().plot()
plt.show()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'