<div style=" background-color: rgb(43, 197, 37);" >
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Data Exploration
</h2>
</div>

In [1]:
import biblio_modules
from pytz import timezone
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### pd.Timestamp :

##### fold{0, 1}, default None, keyword-only
##### Due to daylight saving time, one wall clock time can occur twice when shifting from summer to winter time; fold describes whether the datetime-like corresponds to the first (0) or the second time (1) the wall clock hits the ambiguous time.

In [2]:
#Import de la table export√© en utilisant les date comme index (+ drop de l'ancien index)
df_processed = pd.read_csv('../Source/Data_processed/lapage_all.csv', sep=";")
df_processed.head()

,id_prod,Timestamp,session_id,client_id,sex,birth,price,categ
0,0_1259,2021-03-01 00:01:07.843138,s_1,c_329,f,1967,11.99,0
1,0_1390,2021-03-01 00:02:26.047414,s_2,c_664,m,1960,19.37,0
2,0_1352,2021-03-01 00:02:38.311413,s_3,c_580,m,1988,4.50,0
3,0_1458,2021-03-01 00:04:54.559692,s_4,c_7912,f,1989,6.55,0
4,0_1358,2021-03-01 00:05:18.801198,s_5,c_2033,f,1956,16.49,0