In [65]:
from biblio_modules import load_csv_files_as_df, statistique_rapide_df
import pandas as pd
import pyarrow
import numpy as np
import matplotlib.pyplot as plt

pd.options.display.float_format = "{:.2f}".format

customers_xplo = pd.read_csv("../Source/customers.csv", sep=";")
products_xplo = pd.read_csv("../Source/products.csv", sep=";")
transactions_xplo = pd.read_csv("../Source/Transactions.csv", sep=";")

<div style="background-color: RGB(800,150,50);" >
<h2 style="margin: auto; padding: 20px; color:#fff; "> Exploration : customers </h2>
</div>

In [66]:
customers_xplo.head()

  client_id sex  birth
0    c_4410   f   1967
1    c_7839   f   1975
2    c_1699   f   1984
3    c_5961   f   1962
4    c_5320   m   1943

In [67]:

print(f"les 3 colonnes de customers : {customers_xplo.columns.to_numpy()}")
print(f" L'année de naissance moyen est {customers_xplo.birth.mean()} ")
print(f" le client le plus vieux est né en {customers_xplo.birth.min()} ")
print(f" le client le plus jeune est né en {customers_xplo.birth.max()}")
print(f" le dataset est de dimension {customers_xplo.shape}")
print("""----------------------------------""")
print(f" le nombre de cellules NULL par colonne dans le dataset est de {customers_xplo.isna().sum()}")
print("""----------------------------------""")
print(f" la colonne 'sexe' devrait contenir deux valeurs max, et elle est de {customers_xplo['sex'].value_counts()}")
print("""----------------------------------""")
print(f" le nombre d'id_client unique est de {customers_xplo['client_id'].nunique()} pour {customers_xplo['client_id'].count()} lignes au total")
print("""----------------------------------""")
print(customers_xplo.describe(include='all'))

les 3 colonnes de customers : ['client_id' 'sex' 'birth']
 L'année de naissance moyen est 1978.2756060781812
 le client le plus vieux est né en 1929
 le client le plus jeune est né en 2004
 le dataset est de dimension (8621, 3)
----------------------------------
 le nombre de cellules NULL par colonne dans le dataset est de client_id    0
sex          0
birth        0
dtype: int64
----------------------------------
 la colonne 'sexe' devrait contenir deux valeurs max, et elle est de sex
f    4490
m    4131
Name: count, dtype: int64
----------------------------------
 le nombre d'id_client unique est de 8621 pour 8621 lignes au total
----------------------------------
       client_id   sex   birth
count       8621  8621 8621.00
unique      8621     2     NaN
top       c_4410     f     NaN
freq           1  4490     NaN
mean         NaN   NaN 1978.28
std          NaN   NaN   16.92
min          NaN   NaN 1929.00
25%          NaN   NaN 1966.00
50%          NaN   NaN 1979.00
75%          NaN   NaN 1992.00
max          NaN   NaN 2004.00

In [68]:
customers_xplo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8621 entries, 0 to 8620
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  8621 non-null   object
 1   sex        8621 non-null   object
 2   birth      8621 non-null   int64
dtypes: int64(1), object(2)
memory usage: 202.2+ KB

<div style="background-color: RGB(800,150,50);" >
<h2 style="margin: auto; padding: 20px; color:#fff; "> Exploration : products </h2>
</div>

In [69]:
products_xplo.head()
print(products_xplo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3286 entries, 0 to 3285
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id_prod  3286 non-null   object
 1   price    3286 non-null   float64
 2   categ    3286 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 77.1+ KB
None

In [73]:

print(f"les 3 colonnes de customers : {products_xplo.columns.to_numpy()}")
print(f" Le prix moyen sur le store en ligne {(round(products_xplo.price.mean(), 2))} euros")
print(f" le prix le plus bas dans le magasin en ligne et de {products_xplo.price.min()} euros")
print(f" le prix le plus haut dans le magasin en ligne et de {products_xplo.price.max()} euros")
print(f" le dataset est de dimension {products_xplo.shape}")
print("""----------------------------------""")
print(f" le nombre de cellules NULL par colonne dans le dataset est de {products_xplo.isna().sum()}")
print("""----------------------------------""")
print(f" la colonne 'categ' devrait contenir 3 categorie max, et elle est de {products_xplo['categ'].value_counts()}")
print("""----------------------------------""")
print(f" le nombre d'id_produit unique est de {products_xplo['id_prod'].nunique()} pour {products_xplo['id_prod'].count()} lignes au total")
print("""----------------------------------""")
print(products_xplo.describe(include='all'))

les 3 colonnes de customers : ['id_prod' 'price' 'categ']
 Le prix moyen sur le store en ligne 21.86 euros
 le prix le plus bas dans le magasin en ligne et de 0.62 euros
 le prix le plus haut dans le magasin en ligne et de 300.0 euros
 le dataset est de dimension (3286, 3)
----------------------------------
 le nombre de cellules NULL par colonne dans le dataset est de id_prod    0
price      0
categ      0
dtype: int64
----------------------------------
 la colonne 'categ' devrait contenir 3 categorie max, et elle est de categ
0    2308
1     739
2     239
Name: count, dtype: int64
----------------------------------
 le nombre d'id_produit unique est de 3286 pour 3286 lignes au total
----------------------------------
       id_prod   price   categ
count     3286 3286.00 3286.00
unique    3286     NaN     NaN
top     0_1421     NaN     NaN
freq         1     NaN     NaN
mean       NaN   21.86    0.37
std        NaN   29.85    0.62
min        NaN    0.62    0.00
25%        NaN    6.99    0.00
50%        NaN   13.07    0.00
75%        NaN   22.99    1.00
max        NaN  300.00    2.00

<div style="background-color: RGB(800,150,50);" >
<h2 style="margin: auto; padding: 20px; color:#fff; "> Exploration : transactions </h2>
</div>

In [74]:
transactions_xplo.head()
print(transactions_xplo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687534 entries, 0 to 687533
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     687534 non-null  object
 1   date        687534 non-null  object
 2   session_id  687534 non-null  object
 3   client_id   687534 non-null  object
dtypes: object(4)
memory usage: 21.0+ MB
None

In [75]:

print(f"les 4 colonnes de customers : {transactions_xplo.columns.to_numpy()}")
#print(f" Le prix moyen sur le store en ligne {(round(transactions_xplo.price.mean(), 2))} euros")
#print(f" le prix le plus bas dans le magasin en ligne et de {transactions_xplo.price.min()} euros")
#print(f" le prix le plus haut dans le magasin en ligne et de {transactions_xplo.price.max()} euros")
print(f" le dataset est de dimension {transactions_xplo.shape}")
print("""----------------------------------""")
print(f" le nombre de cellules NULL par colonne dans le dataset est de {transactions_xplo.isna().sum()}")
print("""----------------------------------""")
#print(f" la colonne 'categ' devrait contenir 3 categorie max, et elle est de {transactions_xplo['categ'].value_counts()}")
print("""----------------------------------""")
print(f" le nombre de'session_id' unique est de {transactions_xplo['session_id'].nunique()} pour {transactions_xplo['session_id'].count()} lignes au total")
print("""----------------------------------""")
print(transactions_xplo.describe(include='all'))

les 4 colonnes de customers : ['id_prod' 'date' 'session_id' 'client_id']
 le dataset est de dimension (687534, 4)
----------------------------------
 le nombre de cellules NULL par colonne dans le dataset est de id_prod       0
date          0
session_id    0
client_id     0
dtype: int64
----------------------------------
----------------------------------
 le nombre de'session_id' unique est de 345505 pour 687534 lignes au total
----------------------------------
       id_prod                        date session_id client_id
count   687534                      687534     687534    687534
unique    3265                      687419     345505      8600
top      1_369  2021-10-06 21:29:59.752585   s_118668    c_1609
freq      2340                           2         14     25586