In [18]:
import biblio_modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
#Import de la table export√© en utilisant les date comme index (+ drop de l'ancien index)
df_processed = pd.read_csv('../Source/Data_processed/lapage_all.csv', sep=";", parse_dates=['Timestamps'], index_col=['Timestamps']).drop(columns='Unnamed: 0')

In [24]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 687534 entries, 2021-03-01 00:01:07.843138 to 2023-02-28 23:58:30.792755
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     687534 non-null  object
 1   session_id  687534 non-null  object
 2   client_id   687534 non-null  object
 3   sex         687534 non-null  object
 4   birth       687534 non-null  int64
 5   price       687534 non-null  float64
 6   categ       687534 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 42.0+ MB

In [25]:
df_processed.index

DatetimeIndex(['2021-03-01 00:01:07.843138', '2021-03-01 00:02:26.047414',
               '2021-03-01 00:02:38.311413', '2021-03-01 00:04:54.559692',
               '2021-03-01 00:05:18.801198', '2021-03-01 00:05:44.999018',
               '2021-03-01 00:07:04.371179', '2021-03-01 00:07:48.507530',
               '2021-03-01 00:09:11.523122', '2021-03-01 00:10:20.265265',
               ...
               '2023-02-28 23:43:05.079569', '2023-02-28 23:45:54.817107',
               '2023-02-28 23:45:54.822218', '2023-02-28 23:47:05.145663',
               '2023-02-28 23:48:53.349647', '2023-02-28 23:49:03.148402',
               '2023-02-28 23:51:29.318531', '2023-02-28 23:53:18.929676',
               '2023-02-28 23:58:00.107815', '2023-02-28 23:58:30.792755'],
              dtype='datetime64[ns]', name='Timestamps', length=687534, freq=None)