<div style=" background-color: RGB(0,150,250);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 6 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Analyse des donn√©es de vente en ligne pour Lapage
</h2>
</div>

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

In [1]:
import biblio_modules
import pyarrow
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
customers = pd.read_csv("../Source/customers.csv", sep=";")
products = pd.read_csv("../Source/products.csv", sep=";")
transactions = pd.read_csv("../Source/Transactions.csv", sep=";")

def load_csv_files_as_df(df, path, delim):
    df = pd.read_csv(path, sep=delim)
    return df

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Exploration fichier customers </h2>
</div>

In [9]:
load_csv_files_as_df(customers, '../Source/customers.csv', ';').head()

  client_id sex  birth
0    c_4410   f   1967
1    c_7839   f   1975
2    c_1699   f   1984
3    c_5961   f   1962
4    c_5320   m   1943

In [10]:
load_csv_files_as_df(products, "../Source/products.csv", ";").head()

  id_prod  price  categ
0  0_1421  19.99      0
1  0_1368   5.13      0
2   0_731  17.99      0
3   1_587   4.99      1
4  0_1507   3.99      0

In [11]:
load_csv_files_as_df(transactions, "../Source/Transactions.csv", ";").head()

  id_prod                        date session_id client_id
0  0_1259  2021-03-01 00:01:07.843138        s_1     c_329
1  0_1390  2021-03-01 00:02:26.047414        s_2     c_664
2  0_1352  2021-03-01 00:02:38.311413        s_3     c_580
3  0_1458  2021-03-01 00:04:54.559692        s_4    c_7912
4  0_1358  2021-03-01 00:05:18.801198        s_5    c_2033

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 5 - Fusion des tables </h2>
</div>

In [6]:
transaction_product = pd.merge(transactions, products, how='left', on='id_prod')
table_merged = pd.merge(transaction_product, customers, how='left', on='client_id')
table_merged

,id_prod,date,session_id,client_id,price,categ,sex,birth
0,0_1259,2021-03-01 00:01:07.843138,s_1,c_329,11.99,0,f,1967
1,0_1390,2021-03-01 00:02:26.047414,s_2,c_664,19.37,0,m,1960
2,0_1352,2021-03-01 00:02:38.311413,s_3,c_580,4.50,0,m,1988
3,0_1458,2021-03-01 00:04:54.559692,s_4,c_7912,6.55,0,f,1989
4,0_1358,2021-03-01 00:05:18.801198,s_5,c_2033,16.49,0,f,1956
...,...,...,...,...,...,...,...,...
687529,1_508,2023-02-28 23:49:03.148402,s_348444,c_3573,21.92,1,f,1996
687530,2_37,2023-02-28 23:51:29.318531,s_348445,c_50,48.99,2,f,1994
687531,1_695,2023-02-28 23:53:18.929676,s_348446,c_488,26.99,1,f,1985
687532,0_1547,2023-02-28 23:58:00.107815,s_348447,c_4848,8.99,0,m,1953
687533,0_1398,2023-02-28 23:58:30.792755,s_348435,c_3575,4.52,0,f,1981

In [7]:
table_merged.to_csv("../Source/Data_processed/Table_merged.csv", index=False, sep=";")

In [8]:
load_csv_files_as_df(table_merged, "../Source/Data_processed/Table_merged.csv", ";")

,id_prod,date,session_id,client_id,price,categ,sex,birth
0,0_1259,2021-03-01 00:01:07.843138,s_1,c_329,11.99,0,f,1967
1,0_1390,2021-03-01 00:02:26.047414,s_2,c_664,19.37,0,m,1960
2,0_1352,2021-03-01 00:02:38.311413,s_3,c_580,4.50,0,m,1988
3,0_1458,2021-03-01 00:04:54.559692,s_4,c_7912,6.55,0,f,1989
4,0_1358,2021-03-01 00:05:18.801198,s_5,c_2033,16.49,0,f,1956
...,...,...,...,...,...,...,...,...
687529,1_508,2023-02-28 23:49:03.148402,s_348444,c_3573,21.92,1,f,1996
687530,2_37,2023-02-28 23:51:29.318531,s_348445,c_50,48.99,2,f,1994
687531,1_695,2023-02-28 23:53:18.929676,s_348446,c_488,26.99,1,f,1985
687532,0_1547,2023-02-28 23:58:00.107815,s_348447,c_4848,8.99,0,m,1953
687533,0_1398,2023-02-28 23:58:30.792755,s_348435,c_3575,4.52,0,f,1981

<div style="background-color: RGB(900,80,50);" >
<h3 style="margin: auto; padding: 10px; color:#fff; "> Partie 1 - Analyse des indicateurs de vente </h2>
</div>