<div style=" background-color: RGB(0,150,250);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 6 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Analyse des donn√©es de vente en ligne pour Lapage
</h2>
</div>

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

In [1]:
import biblio_modules
import pyarrow
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
customers = pd.read_csv("../Source/customers.csv", sep=";")
products = pd.read_csv("../Source/products.csv", sep=";")
transactions = pd.read_csv("../Source/Transactions.csv", sep=";")

def load_csv_files_as_df(df, path, delim):
    df = pd.read_csv(path, sep=delim)
    return df

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Exploration fichier customers </h2>
</div>

In [3]:
load_csv_files_as_df(customers, '../Source/customers.csv', ';').head()

  client_id sex  birth
0    c_4410   f   1967
1    c_7839   f   1975
2    c_1699   f   1984
3    c_5961   f   1962
4    c_5320   m   1943

In [4]:
load_csv_files_as_df(products, "../Source/products.csv", ";").head()

  id_prod  price  categ
0  0_1421  19.99      0
1  0_1368   5.13      0
2   0_731  17.99      0
3   1_587   4.99      1
4  0_1507   3.99      0

In [5]:
load_csv_files_as_df(transactions, "../Source/Transactions.csv", ";").head()

  id_prod                        date session_id client_id
0  0_1259  2021-03-01 00:01:07.843138        s_1     c_329
1  0_1390  2021-03-01 00:02:26.047414        s_2     c_664
2  0_1352  2021-03-01 00:02:38.311413        s_3     c_580
3  0_1458  2021-03-01 00:04:54.559692        s_4    c_7912
4  0_1358  2021-03-01 00:05:18.801198        s_5    c_2033

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 5 - Fusion des tables </h2>
</div>

In [6]:
transaction_product = pd.merge(transactions, products, how='outer', on='id_prod')
table_merged = pd.merge(transaction_product, customers, how='left', on='client_id')
table_merged
transaction_product

       id_prod                        date session_id client_id  price  categ
0          0_0  2021-03-01 13:45:51.575117      s_282    c_5152   3.75      0
1          0_0  2021-03-02 06:42:55.351333      s_621    c_2917   3.75      0
2          0_0  2021-03-02 18:49:49.651862      s_852    c_3988   3.75      0
3          0_0  2021-03-02 21:57:33.862118      s_908    c_1004   3.75      0
4          0_0  2021-03-03 23:59:48.997483     s_1379     c_278   3.75      0
...        ...                         ...        ...       ...    ...    ...
687550    2_99  2022-05-21 01:53:46.967570   s_211661    c_5828  84.99      2
687551    2_99  2022-07-21 01:53:46.967570   s_241374    c_5828  84.99      2
687552    2_99  2022-11-11 20:56:49.820935   s_296127    c_7135  84.99      2
687553    2_99  2022-12-11 20:56:49.820935   s_310606    c_7135  84.99      2
687554    2_99  2023-01-21 01:53:46.967570   s_329932    c_5828  84.99      2

[687555 rows x 6 columns]

In [7]:
table_merged.to_csv("../Source/Data_processed/Table_merged.csv", index=False, sep=";")

In [8]:
load_csv_files_as_df(table_merged, "../Source/Data_processed/Table_merged.csv", ";")

,id_prod,date,session_id,client_id,price,categ,sex,birth
0,0_0,2021-03-01 13:45:51.575117,s_282,c_5152,3.75,0,f,1986.0
1,0_0,2021-03-02 06:42:55.351333,s_621,c_2917,3.75,0,m,1988.0
2,0_0,2021-03-02 18:49:49.651862,s_852,c_3988,3.75,0,f,1962.0
3,0_0,2021-03-02 21:57:33.862118,s_908,c_1004,3.75,0,m,1973.0
4,0_0,2021-03-03 23:59:48.997483,s_1379,c_278,3.75,0,f,1987.0
...,...,...,...,...,...,...,...,...
687550,2_99,2022-05-21 01:53:46.967570,s_211661,c_5828,84.99,2,f,1998.0
687551,2_99,2022-07-21 01:53:46.967570,s_241374,c_5828,84.99,2,f,1998.0
687552,2_99,2022-11-11 20:56:49.820935,s_296127,c_7135,84.99,2,m,1996.0
687553,2_99,2022-12-11 20:56:49.820935,s_310606,c_7135,84.99,2,m,1996.0
687554,2_99,2023-01-21 01:53:46.967570,s_329932,c_5828,84.99,2,f,1998.0

<div style="background-color: RGB(900,80,50);" >
<h3 style="margin: auto; padding: 10px; color:#fff; "> Partie 1 - Analyse des indicateurs de vente </h2>
</div>